
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~datatables/media/css/jquery.dataTables.min.css';
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
 
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pagination{
  justify-content: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0;
  &:hover{
    border:1px transparent solid;
    background: 0;
  }
}

table{
  td.td-action{
    min-width: 100px;
  }
}

@media screen and (max-width: 768px) {
  table.responsive {
    border: 0;
    td.td-action{
      min-width: 0;
    }
    caption {
      font-size: 1.3em;
    }

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}

p.help-block{
  color:red;
}